# Regression Predict Student Solution

Â© Explore Data Science Academy

---
### Honour Code

I {**YOUR NAME, YOUR SURNAME**}, confirm - by submitting this document - that the solutions in this notebook are a result of my own work and that I abide by the [EDSA honour code](https://drive.google.com/file/d/1QDCjGZJ8-FmJE3bZdIQNwnJyQKPhHZBn/view?usp=sharing).

Non-compliance with the honour code constitutes a material breach of contract.

## Imports

In [1]:
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt
#from seaborn import pairplot
#from statsmodels.graphics.correlation import plot_corr
import statsmodels.formula.api as sm
#from statsmodels.graphics.gofplots import qqplot

from sklearn.linear_model import Ridge
#from sklearn.model_selection import train_test_split
from sklearn import metrics

# Reading Data

In [2]:
#making sure that we can see all rows and cols
pd.set_option('display.max_columns', None)

pd.set_option('display.max_rows', None)
#reading the data from the csv
###########################################################################################################################


df = pd.read_csv('df_train.csv')

df_test = pd.read_csv('df_test.csv')

# remove missing values/ features
df['time'] = pd.to_datetime(df['time']) # changing the date datatype

#cols_to_drop = ['Unnamed: 0']
cols_to_drop = [item for item in df.columns if (item.endswith('_id') or item.endswith('_deg') 
                or item.endswith('ssure') or item.endswith('_1h') or item.endswith('_min') or item.endswith('_max'))]

df.drop(cols_to_drop,inplace = True,axis = 1) #deleting the first column
df.drop(['Unnamed: 0'],inplace = True,axis = 1)

df.drop_duplicates(keep=False,inplace=True)#removing duplicates



###################################### Test data #####################################################################

df_test['time'] = pd.to_datetime(df_test['time']) # changing the date datatype

#cols_to_drop = ['Unnamed: 0']
cols_to_drop = [item for item in df_test.columns if (item.endswith('_id') or item.endswith('_deg') or 
                    item.endswith('ssure') or item.endswith('_1h') or item.endswith('_min') or item.endswith('_max'))]

df_test.drop(cols_to_drop,inplace = True,axis = 1) #deleting the first column
df_test.drop(['Unnamed: 0'],inplace = True,axis = 1)

df_test.drop_duplicates(keep=False,inplace=True)#removing duplicates

# Preparing Data for model Training and Testing

In [3]:


df_1 = df.copy()

cols_to_X = df.columns[1:23]

cols_to_X_test = df_test.columns[1:21]
cols_to_Y = df.columns[-1]


X_test = df_test[cols_to_X_test]
                                                
X = df_1[cols_to_X]

y = df_1[cols_to_Y]
df_2 = pd.merge(y,df_1[cols_to_X],how = 'right',on = cols_to_Y) #data frame for training
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 50)

# Model Training

In [135]:
formula_str = df.columns[-1]+' ~ '+'+'.join(df.columns[1:21]);

In [136]:
model=sm.ols(formula=formula_str, data=df_2)

In [140]:
fitted = model.fit()

In [141]:
y_ = fitted.fittedvalues

In [142]:
#lm = Ridge(alpha = 1.0, normalize=False)

#pre_dict = lm.fit(X_train,y_train)

# Model Testing

In [178]:
#y_hat = model.predict(X_test)
  
y_hat = fitted.predict(X_test) #predicted values

pre_dict = {'time':df_test[df_test.columns[0]],'load_shortfall_3h': y_hat} # dictionary containing predicted values

predict_ed = pd.DataFrame(pre_dict) # dataframe with the date and load_shortfall_3h

In [179]:

predict_ed.to_csv('Team_1.csv',index = False)

                  time  load_shortfall_3h
0  2018-01-01 00:00:00        8470.213539
1  2018-01-01 03:00:00        8441.268762
2  2018-01-01 06:00:00        8815.673050
3  2018-01-01 09:00:00        8638.526412
4  2018-01-01 12:00:00        8484.047418